body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
}

img {
    max-width: 80%;
}

.card {
    background-color: #333;
    width: 80%;
    height: 450px;
    display: flex;
    margin: 2em auto;
}

.card__left {
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #222;
    padding: .5rem 0;
}

.card__right {
    width: 80%;
    padding: 0 1rem;
}

.card__title {
    text-transform: uppercase;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__names {
    display: flex;
    justify-content: space-between;
}

.form__names input {
    width: 200px;
}

.form__label {
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.form__input,
.form__textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    color: inherit;
}

.form__textarea {
    resize: none;
    border: 1px solid #eee;
    flex-basis: 100px;
}

.form__submit {
    width: 40%;
    background: rgb(0, 183, 255);
    border: none;
    padding: .8rem;
    border-radius: 15px;
    text-transform: uppercase;
    color: inherit;
}
