body{/*
	display:flex;
	align-items:center;
	flex-direction:column;

	justify-content:space-between;*/
	background-image:radial-gradient(circle,#ffaadd,#aaddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0px;
}

  img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
	clip-path: circle(50% at 50% 50%);
    }

/********************************************************/
.grid-item {
	border:1px solid;
	border-radius:5px;
	text-align: center;
	/*padding:1rem;*/
	padding:0rem 0rem 0rem 0rem;
	font-size:1rem;
}


@msedia (max-width: 800px ) {
	.ochocientos {
		border:2px dashed blue;
	}

	.gc {
		justify-content:space-around;

	}

}

/********************************************************/
#auto {
/* display:flex;
 flex-flow:column;
 align-items:center;
 flex-wrap:wrap;*/
}

.fondo {
	background-image:radial-gradient(circle,#ffaadd,#aaddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

#una  .gc {
	background-color: yellow;
   display:grid;
 
   grid-template-columns: repeat(2, minmax(150px,1fr) ) repeat(auto-fill, minmax(min-content,140px));
   grid-template-rows: minmax(100px,3em) 100px ;
}

#una .gc .grid-item {
	background-color: lightyellow;
}


