html { /*Estableciendo height:100% aquí y en el body, se rellena todo el viewport con el contenido disponible */
	height:100%;
	max-height:100vh;
	max-width:100%
}

body {	
	background-color:lightgray;
	height:100%;  /* ¡¡ Con esto basta para ocupar todo el alto */

	display:flex; /* para que los elementos puedan crecer fácilmente y ocupar el espacio
				     disponible ajustado con el height:100% en body y html*/
	flex-direction:column;
	padding:0px;
	margin:0px;
}
	
.principal{
/* como item de un flex superior */
	flex-grow:1; /* el cuerpo se expande verticalmente tomando el espacio disponible entregado por height:100% en body y html*/

/* como contenedor de un flex interior */
	display:flex;
	flex-direction:column;
	row-gap:1em;
	column-gap:1em;
}


.principal [class^="album"] {

	display:flex;
	justify-content:center;
	flex-direction:row-reverse;
	align-items:center;
	column-gap:1em;
	margin:1em;
	border:1px solid grey;
	padding:1em;	
	left:20%; /* esto es el desplazamiento disponible para el .lateral, necesario
				porque la posición es absolute */
	min-width:80%;
	}

.albumarriba{
	flex-wrap:wrap;
}

.albumabajo{
	flex-wrap:nowrap;
}
	
[class^="album"] > .foto { 

	flex-grow:1;

	/*max-height:20%;
	min-height:200px;
	max-width:200px;
	min-width:200px;*/	
	border:1px solid red;
	max-width:10em;
	}

.albumabajo .foto {
	flex-basis:10em;
	flex-shrink: 0;
	flex-grow:0;
	border:2px solid blue;
	align-self : flex-end;
}
.albumabajo .foto:first-child {
	flex-basis:5em;
	flex-grow:1;

	min-height:10em;

}

.pie {
	flex-basis:30%;

	align-self:flex-end;
	background-color:cyan;
}