body{/*
	display:flex;
	align-items:center;
	flex-direction:column;

	justify-content:space-between;*/
	background-image:radial-gradient(circle,#ffaadd,#aaddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0px;
}

.texto { color: blue;}

/********************************************************/
.grid-item {
	border:1px solid;  /* no declaro color, heredo el de "color"*/
	border-radius:5px;
	text-align: center;
	/*padding:1rem;*/
	padding:0.3rem;
	font-size:1rem;
	
}
/*********************************************************/

.gc {
	display:grid;
	background-color:pink;
	grid-auto-flow:dense;
	grid-template-columns: repeat(3,minmax(min-content,max-content)) 10%  minmax(10%,20em);
	grid-template-rows: 10em minmax(3em,max-content) minmax(1em,6em) minmax(7em,max-content);
	margin:1em;
	border: 3px solid red;
	gap:10px;
	
}

.gc .grid-item:nth-child(1) {

	font-size: 50%;
/* ajustar el tamaño de fuente para mostrar el ancho y alto total de la celda*/
	font-size: 1rem;
	color:red;
	grid-column-end:span 2;	
	
}

/* Se queda con font-size */
.gc .grid-item:nth-child(2) {
	font-size: 1rem;
	background-color:white;

	grid-column-start: 3;	
	grid-column-end:span 3;	
}


.gc .grid-item:nth-child(3) {

	font-size: 130%;

	font-size: 1rem;

	grid-row-start: 2;	
	grid-row-end:span 3;	
	grid-column-start:4;
	align-self:center;
}

.gc .grid-item:nth-child(6) {
	grid-row-end:span 3;
	border:1px dashed red;
}


.gc .grid-item:nth-child(15) {
	grid-column-end:span 4;
	grid-row-end: span 2 ;
	outline:1px dashed red;
}

.fondo {
	background-image:radial-gradient(circle,#ffaadd,#aaddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
}



.derechas   {  justify-self:end;}
.izquierdas {  justify-self:start;}
.arribas    { 	align-items:start; }
.abajos     {  align-items:end; }



@media (max-width: 800px ) {
	.ochocientos {
		border:2px dashed blue;
	}

	.gc {
		grid-template-columns: 20em  1fr 1fr;
		grid-template-rows: auto;
		
		/*align-content:start;
	    justify-content:center;*/

		gap:2px;
	}
}






