div {
	border:1px solid darkblue;
	min-height:100px;
	font-size:3rem;
}

.relleno {
	min-height:10vh;
	background-color:beige;
	border:2px solid black;	
	} 


#muebles {

}


#silla {
    border:1px dashed;
	position:relative;
	top:50px;
	height:inherit;
}


#vehiculos {
	color:maroon;
	background:lightyellow;
	position:relative;
}	

#coche {
	position:absolute;
	top:-100px;
	left:100px;	
	}
	
#bici{
	position:fixed;
	top:280px;
	left: 200px;
	background-color:yellow;
	z-index:2;
	}

#moto {
	position:relative;
	top:  20px;
	left: 20px;
}
	
#pinturas{
	width:80vw;
	border:1px solid blue;
}

#acuarela {
	width:50%;
	background-color:lightblue;
}	

#oleo {
	width:20vw;
	background-color:blue;
	
}
#bajo {
	position:sticky;
	
	background-color:cyan;
	bottom:100px;
	}