
* {
	padding:1em;
}

body{
	position:relative;
	height:100%
}
#tComidas {
	position: relative;
	top:1em;
	left:5em;

}

#bebidas {
	position:relative;
	width:20em;
	height:8em;
	border:1px solid red;
}

#Agua {
	position: absolute;
	left: 1em;
}

#Fanta {
	position: absolute;
	left: 6em;
}

#Leche {
	position: absolute;
	left: 12em;
}

#tituloEspecias{
	position: fixed;
	top:10em;
	left:50%;

}

#noComidas > *{
	padding: 0.3em;
}
#noComidas {
	position:sticky;
	bottom:10px;

}
