div {
	border:1px solid darkblue;
	min-height:50px; 
	/*font-size:1rem;*/
	margin:1em; /* respetar*/
}

.relleno {
	min-height:5vh;
	background-color:beige;
	border:2px solid black;	
	} 

#Sigma{
	color:red;
}

#Sigma * {
	color:green;
}

.uno {
	width:30cm;
}

.uno + div {
	width: 15cm;
}

.dos {
	margin:initial;
}

.tres {
	position:relative;   /* POSITION */
	left:25px;
	top: -25px;
}

.Freezer {
	position:sticky;
	top:30%;
	bottom:30%;
	background-color:orange;
}

#Dodoria p {
	background-color:pink;
}


#Arak {
	position:fixed; /* POSITION */
	top:80vh;
	left:4cm;
	color:blue;
}

#Champa {
	color:red;
}


#Dodoria {
	
	

} 