#tabla {
	display:grid;
	grid-template-columns: 100px repeat(2,minmax(min-content,1fr)) repeat(2,15%);
	gap:5px;
	
	/*grid-auto-flow:row dense;*/
	background:beige;
	
	/*justify-items:start;*/
}



#tabla > div {
	border:1px solid black;
	overflow:hidden;

}

#c1-1 {
	background-color:yellow;
	grid-row-start:2;
	grid-row-end:4;	
	grid-column-start:3;
	grid-column-end:5;
	opacity:0.5;
}

#c1-2{
	grid-row-start:1;
	grid-column-start:1;
	grid-column-end:4;
	opacity:0.5;
	background-color:lightblue;
}

#c1-3 {
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:1;
	grid-column-end:4;
	opacity:0.5;
	background-color:orange;
	
	justify-self:right;
}


#c1-4 {
	background-color:pink;
	/*justify-self:end;
	align-self:end;*/
	grid-row-end:span 3;
}

.dreta {
	background-color:lightgreen;
	justify-self: end;
}


#c1-12 {
	background-color:lightblue;
	justify-self:center;
}




