
:root {
	--distancia:100%;
}

body {
	display:flex;
	flex-direction:column;
	align-items:center;
}


.box {
	  width:300px;
      height:300px;
      background-color: red;
      color: white;        
      position:relative;
      transition-duration:5s;
      transition-delay:0.2s;
	z-index:1;
}	

.box:hover{
   background:magenta;
   animation: caure 5s 1;
   transform:translateY(50px);
	z-index:1;
/*   transform: translate(50%,60%) scale(0.2,0.8) rotate(10deg);*/
}

.box::before{
   content:"";
   display:block;
   background-color:lightblue;
	/*height:var(--alturaElementos);*/
	color:darkblue;
	position:absolute;
	right:-100%;
	bottom:	00%;
	width:100%;
	height:100%;
	transition-duration:5s;
	z-index:2;
}
.box:hover::before{
   content:"";
   display:block;
   background-color:blue;
	/*height:var(--alturaElementos);*/
	color:darkblue;
	position:absolute;
	right:var(--distancia);
	bottom:	10%;
	z-index:2;
}



@keyframes caure{
	0% 	{transform:translateY(5px); }
	20% 	{transform:rotate(45deg); } 	
	40% 	{transform: rotate(0deg); } 	
	50% 	{transform:translateY(150px); } 	
	70% 	{transform:translateY(50px) rotate(-45deg); } 
	90%		{transform:translateY(50px) rotate(0deg);}
	100% 	{transform:translateY(50px) ; } 			 			
}







