html { /*Estableciendo height:100% aquí y en el body, se rellena todo el viewport con el contenido disponible */
	height:100%;
	max-height:100vh;
	max-width:100%
}

body {	
	background-color:lightgray;
	height:100%;  /* ¡¡ Con esto basta para ocupar todo el alto */

	display:flex; /* para que los elementos puedan crecer fácilmente y ocupar el espacio
				     disponible ajustado con el height:100% en body y html*/
	flex-direction:column;
	padding:0px;
	margin:0px;
}
	
.principal{
/* como item de un flex superior */
	flex-grow:1; /* el cuerpo se expande verticalmente tomando el espacio disponible entregado por height:100% en body y html*/

/* como contenedor de un flex interior */
	display:flex;
	flex-direction:column;
	row-gap:1em;
	column-gap:1em;
}


.principal [class^="album"] {

	
	margin:1em;
	border:1px solid grey;
	padding:1em;	
	left:20%; 
	min-width:80%;
	}

.albumarriba{
	
}

.albumabajo{
	
}
	
[class^="album"] > .foto { 

	
	max-width:10em;
	}

.albumabajo .foto {

	border:2px solid blue;

}
.albumabajo .foto:first-child {
	


}

.pie {
	
	background-color:cyan;
}