body{/*
	display:flex;
	align-items:center;
	flex-direction:column;

	justify-content:space-between;*/
	background-image:radial-gradient(circle,#ffaadd,#aaddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:0px;
}

.texto { color: blue;}

/********************************************************/
.grid-item {
	border:1px solid;  /* no declaro color, heredo el de "color"*/
	border-radius:5px;
	text-align: center;
	/*padding:1rem;*/
	padding:0.3rem;
	font-size:1rem;
	
}
/*********************************************************/

.gc {

	background-color:pink;
	
	margin:1em;
	border: 3px solid red;

	
}

.gc .grid-item:nth-child(1) {

	font-size: 50%;
/* ajustar el tamaño de fuente para mostrar el ancho y alto total de la celda*/
	font-size: 1rem;
	color:red;
	
	
}

/* Se queda con font-size */
.gc .grid-item:nth-child(2) {
	font-size: 1rem;
	background-color:white;	
}


.gc .grid-item:nth-child(3) {
	font-size: 130%;
	font-size: 1rem;
}

.gc .grid-item:nth-child(6) {

	border:1px dashed red;
}


.gc .grid-item:nth-child(15) {
	
	outline:1px dashed red;
}

.fondo {
	background-image:radial-gradient(circle,#ffaadd,#aaddff);
	background-repeat:no-repeat;
	background-size:100% 100%;
}



.derechas   { }
.izquierdas {  }
.arribas    {  }
.abajos     {   }








