
* {
	padding:1em;
}

body{
	position:relative;
	height:100%
}
#tComidas {
	

}

#bebidas {
	
}

#Agua {
	
}

#Fanta {
	
}

#Leche {
	
}

#tituloEspecias{
	

}

#noComidas > *{
	padding: 0.3em;
}
#noComidas {
	

}
