body {
	background-color: lightsalmon;
}

/* (1) todo lo que es saludable aparece subrayado */
.selector { 
	text-decoration: underline; 
}

/* (2) todas los div que sigan al tituloComidas tienen padding */
 .selector{
	padding-left: 2em;
}

/* (3) La primera unaComida, al estar a continuación de comidas aparece 
con el fondo en azul claro*/ 
 .selector{
	background-color: lightblue;
}

/* (4)  todas las carnes que son comida están en rojo*/
.selector{
	color:red;
}

/*(5) Todas las bebidas saludables tienen el fondo amarillo claro*/
 .selector{
	background-color: lightyellow;
}


/* (6) La fanta está alineada al centro text-align:center, pero
la Leche está alineada tal cual esté la página entera*/

.selector{
	text-decoration: none; 
	text-align:center;
	background-color:white;
}

.selector {
	text-align:initial;
}

/* (7) ¿Recuerdas el (2) ? Ahora se pide que lo canceles de alguna forma. Para empezar, las clases reset-padding no tienen padding. Pero ademas: Todos los div que siguen a la clase reset-padding tienen el padding inicial o a valor 1px*/

.selector {
	padding-left:initial; 
}

 .selector{
	padding-left: inherit;
}

/* (8) el título de las especias ("Especias:") va en negrita */
.selector {
	  font-weight: bold;
}

/* (9) todas las especias (pimienta, cilantro, etc) van en verde, con
padding y a tamaño normal */

.selector{
	color:green;
	padding-left: 2em;
	font-weight: initial; /* reseteamos los divs internos de especias*/
}

/* (10) Las secciones internas al elemento "NoComidas" van con borde 
rojo y margen*/

.selector {
	border:2px solid red;
	margin:0.5em;
}

/* Los elementos de clase Agua o también los identificados como "Agua" van en color turquoise pero todos los elementos internos de ambos tienen el color original de la página */
 .selector{
	color:turquoise;
}

.selector{
	color:initial;
}

/* todo lo que no es una comida ni bebida, pero es saludable va en letra italica ("corazon" y  "huesos" */
 .selector{
	font-style: italic;
	font-size: 1.25em;
}
