
.verd-cap{
    height:40px;
    background-color:#66ff66;
    text-align:center;
    border:solid 2px black;
    line-height:40px;
    font-size:24px;
    font-family:arial;
    color:black;
}
.groc-generic{
    height:35px;
    margin-bottom:5px;
    background-color:#feff4f;
    text-align:center;
    border:solid 2px black;
    line-height:60px;
    font-size:24px;
    font-family:arial;
    color:black;
}
.verd-peu{
    height:20px;
    margin-top:10px;
    background-color:#66ff66;
    text-align:center;
    border:solid 2px black;
    line-height:30px;
    font-size:24px;
    font-family:arial;
    color:black;
}

.roig-esquerra{
    height:100%;
    width:100%;
    background-color:#FF0000;
    border:solid 2px black;
    text-align:center;
    font-size:16px;
    font-family:arial;
    color:black;
}

.rosa-dreta{
    height:50px;
    width:100%;
    background-color:#FF00FF;
    border:solid 2px black;
    text-align:center;
    font-size:16px;
    font-family:arial;
    color:black;
}

.taronja-dreta{
    height:40px;
    width:100%;
    margin-top:10px;
    background-color:#ff6600;
    border:solid 2px black;
    text-align:center;
    font-size:16px;
    font-family:arial;
    color:black;
}
.blau-dreta{
    height:15px;
    width:100%;
    margin-top:5px;
    margin-bottom:2px;
    background-color:#0039e6;
    border:solid 2px black;
    text-align:center;
    font-size:16px;
    font-family:arial;
    color:black;
}

.bordeado{
	border:1px dashed red;
}

.fila{
    width:100%;
    margin-bottom:10px;
}
.contenidor{
    border:solid 1px black;
    width:100%;
    padding:5px;
}
   
