body {
  font: 100% Helvetica, sans-serif;
  background-color: #cadef2;
}

.elementoLista, .elemento-primero {
  font-style: italic;
}

.elemento-primero {
  font-weight: bold;
}

h1 + h2 {
  color: red;
}

.contenedor .subContenido {
  color: green;
}

.contenedor > .subContenido {
  color: orange;
}

.especial {
  color: red;
}

.especial--ligero {
  color: pink;
}

.especial--ligero--unico {
  background-color: aliceblue;
}

.divBasico {
  background-color: white;
  outline: 2px solid black;
}

.basePadding, .miPadding-5, .miPadding-10, .miPadding-15, .miPadding-20 {
  background-color: darkcyan;
  color: lightgoldenrodyellow;
  border: 1px solid black;
}

.miPadding-5 {
  padding: 5px;
}

.miPadding-10 {
  padding: 10px;
}

.miPadding-15 {
  padding: 15px;
}

.miPadding-20 {
  padding: 20px;
}
/*# sourceMappingURL=examen.css.map */