$font-stack: Helvetica, sans-serif;
$primary-color: rgba(220, 213, 127, 0.8);
$fondo-body:rgba(202,222,242,1);


$borde-gros:10px;
$borde-mitja:5px;
$borde-finet:1px;

body {
  font: 100% $font-stack;
  background-color: $fondo-body;
}

.elementoLista {
    font-style: italic;
}

.elemento-primero {
  @extend .elementoLista;
  font-weight: bold;
}

h1 {

  +h2 {
    color:red;

  }

}

.contenedor {
  .subContenido {
    color:green;
  }

  >.subContenido {
    color:orange;
  }

}


.especial{
  color:red;

  &--ligero {
      color:pink;

      &--unico {
        background-color: aliceblue;

      }
  }

}

@mixin fondo( $color-primario, $color-secundario ) {
  background-color:$color-primario;
  outline: 2px solid $color-secundario;
}

.divBasico {
  @include fondo(white, black);
}

@mixin bordes( $grosor ) {
  @if $grosor == "gros" {
    border: $borde-gros solid red;
  }
  @else if $grosor == "mitja" {
    border: $borde-mitja solid red;
      }
    @else {
      border: $borde-finet solid red;
    }
  border-radius: 20%;
}

.basePadding{
  background-color: darkcyan;
  color:lightgoldenrodyellow;
  border:1px solid black;

}
$base_padding: 5;
@for $i from 1 through 4 {
  .miPadding-#{$i * $base_padding }{
    @extend .basePadding;
    padding: ($base_padding * $i) +px ;
  }
}


// $tamanyos: mini,medio,normal,grande;
// $tam-inicial:1;
// @each $tamanyo in $tamanyos {

//   .pie__#{$tamanyo} {
//     font-size: $tam-inicial + em ;
//     $tam-inicial: $tam-inicial + 1;
//   }

// } 
