html { /*Estableciendo height:100% aquí y en el body, se rellena todo el viewport con el contenido disponible */
	height:100%;
	max-height:100vh;
	max-width:100%
}

body {	
	background-color:lightgray;
	height:100%;  /* ¡¡ Con esto basta para ocupar todo el alto */

	display:flex; /* para que los elementos puedan crecer fácilmente y ocupar el espacio
				     disponible ajustado con el height:100% en body y html*/
	flex-direction:column;
	padding:0px;
	margin:0px;
	}
	
.cabecera { /* la cabecera comprende el logo y el menú */
      display: flex;
      flex-direction: row;
	  justify-content: space-between;
      background-color:darkgrey; /*únicamente para verificar los bordes redondeados*/
      text-align: center;
	  align-items:stretch;
  	  
    }
.cabecera * {
	border-radius:1em;
}
.logo { 
	background-image: url("logo2.png");
    background-size: cover;
	height:6vw;     /* ¡¡ Esto es lo que marca la altura de la cabecera !!*/
	flex-basis:50%; /* ¡¡ Esto es lo que marca el ancho inicial !! */
	line-height:6vw;
}

/* el menú no es flex, porque la lista interna SÍ es flex */
.menu{  
	flex-grow:1;
	background-color:green;
/*	display:flex;

	align-items:stretch;
*/
}

.cabecera ul {
	background-color:cyan;
	display:flex; 			/* los il serán items */
	height:100%; 			/* el menú ocupa todo el alto del .header*/
	justify-content:space-between;
	align-items:stretch;   	/* los il se estirarán */
	/* align-items:center;  items pequeños pero centrados */
	margin:0px;   			/* el default es 1em ... je je je... aquí sufrirán*/
	/* column-gap:3em;  ojo! porque no causa efecto a veces */
	column-gap:2px; /* impide que dos items se toquen fusionándose al encoger flex*/
					/* inicialmente el gap es superior porque los tiems estan space-between*/	
	}

.cabecera ul li { 
	border-radius:initial;
	background-color:red;
	flex-basis:7em; /* tamanyo inicial suele exceder necesidades del contenido*/
	/* line-height:100%; no tiene efecto en porcentaje */
	
	list-style-type: none;  /* sin circulito */
	/*display:inline;/*no necesario si .header ul es flex (row)*/
	line-height:6vw;
	padding:.2em;

	}


.principal{
/* como item de un flex superior */
	flex-grow:1; /* el cuerpo se expande verticalmente tomando el espacio disponible entregado
				por height:100% en body y html*/

/* como contenedor de un flex interior */
	display:flex;
	flex-direction:row;
	position:relative;	
}
.principal > .lateral{ /* > es redundante, sólo para recordar */
	min-width:100px;
	max-width:200px;
	/*no tener aquíaltura mínima, hace quetodo vaya a la mierda, ya que 
	los elementos internos con contenido, son todos estáticos*/
	flex-grow:1;
	border:1px dashed red;
	background-color:lightyellow;
}
.principal > .album { /* > es redundante, sólo para recordar */
	flex-grow:1;
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
	flex-wrap:wrap;
	row-gap:.5em;
	max-height:100%;
	position:absolute; /* esto logra que el album no imponga su tamaño vertical
					    mayor que el disponible según el tamaño de página*/
	left:20%; /* esto es el desplazamiento disponible para el .lateral, necesario
				porque la posición es absolute */
	min-width:80%;
	
	}
	
.album > .foto { /* > es redundante, sólo para recordar */
	position:static; /*para evitar heredar*/
	flex-grow:1;
	/*max-height:20%;*/
	min-height:200px;
	max-width:200px;
	min-width:200px;	
	border:1px solid red;
	}


.pie {
	background-color:cyan;
}